<div id="failRouting" class="d-flex flex-column mx-3 mt-3 rounded-4 bg-danger p-5">
    <h1 class="text-center text-white display-5 fw-bold p-5">ROUTING ERROR</h1>
</div>

<script>
    function redireccionar(pagina) {
        location.href = pagina;
    } 

    function volver() {
        console.log('volver');
        setTimeout(redireccionar, 1500, '/login');
    }

    volver();
    
</script>
