<div class="mx-3 mb-3 mt-3 rounded-4 bg-primary bg-opacity-10 p-2">
    <div class="d-flex justify-content-between">
        <h1 id="logoutMensaje" class="text-primary display-5 fw-bold mx-3">Hasta luego {{userSend}}</h1>       
    </div>
</div>
<script>
    setTimeout(() => {
        location.href = '/login'
    }, 2000)
</script>